@import "tailwindcss";

:root {
  font-family: "Satoshi", monospace;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Satoshi", monospace;
    font-optical-sizing: auto;
  }
}

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/Satoshi-Variable.woff2") format("woff2");
}

html {
  font-family: "Satoshi", monospace;
  scroll-behavior: smooth;
}
