@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Satoshi", monospace;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Satoshi", monospace;
    font-optical-sizing: auto;
  }
}

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("src/assets/Satoshi-Variable.woff2") format("woff2");
}

html {
  font-family: "Satoshi", monospace;
  scroll-behavior: smooth;
}
