<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src/assets/icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Weather App - Mateo Filip</title>
	</head>
	<body class="bg-gradient-to-br from-blue-200 to-orange-200 flex flex-col justify-between antialiased bg-fixed">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
